button{
    background: royalblue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
}
button:hover{
    color: #ccc;
    box-shadow: 10px 5px 5px grey;
    cursor: pointer;
}